
.grid-container-ShopCart {
    display: grid;
    grid-template-areas:
            ' top   top    top '
            'bottom bottom bottom ';
    grid-gap: 0.5em;
    background-color: ghostwhite;
    padding: 0.5em;
}

.grid-item1 {
    background-color: floralwhite;
    border: 1px solid black;
    padding: 1em;
    text-align: center;
}

.grid-container-ShopCart button {
    color: white;
    background-color: red;
    padding: 1em 3em;
    margin-left: 5em;
    cursor: pointer;

}

.grid-container-ShopCart img {
    width: 100px;
}

.grid-container-ShopCart input {
    margin-top: 1em;
    height: 1.8em;
    width: 4em;
}

.grid-container-ShopCart #removeCDCart {
    margin-top: 1em;
    height: 2em;
    margin-left: 0;
    padding: 0.5em;
    cursor: pointer;
}

.cardCDInfoCart {
    font-size: small;
    display: flex;
    row-gap: 1em;
    grid-gap: 1em;
}

